// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card.event{
   
    border-radius: 10px;
}


@media screen and (min-width: 960px){
    .event-list{
        max-height: 50vh;
        overflow: auto;
        
    }
}