// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-hero{
    background-image: url('undraw_events_2p66.svg');
    background-size: cover;
    background-attachment: fixed;
}
.home-hero .hero-body{
     background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.2));
}
.home-content{
    justify-content: center;
    align-items: center!important;
    height: 80vh;
    display: flex!important;
}
.field_with_errors .input{
    border-color: red;
}