// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.alert-container{
    position: fixed;
    top: 50px;
    right: 0px;
    width: 100%;
    max-width: 300px;
}

.session-form{
    max-width: 400px;
    margin: auto;
}
.is-rounded{
    border-radius: 10px;
}